<ion-header class="arjuna-header">
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/arjuna_logo.png">
      <p style="font-size: 0.4em; float: right;"><i>Culture of Excellence & Ethics <br> With the Spirit of Selfless Service</i></p>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding class="card-chapter-pages-page">
  <ion-item no-padding no-border-bottom>
    <p style="text-align: center; font-size: 20px;">
      <img [src]=chapterIcon style="height: 30px;"><br>
      <b>{{chapterTitle}}</b>
    </p>
  </ion-item>

  <ion-slides>
		<ion-slide	*ngFor="let question of QAset.Qs; let i = index">
      <p align=center style="font-size: 16px;"><b>--- {{i+1}}/{{QAset.Qs.length}} ---</b></p>

      <ion-item border-bottom>
        <b style="align: center;">Q {{i+1}}.&nbsp;&nbsp;{{question}}</b>
      </ion-item>

      <ion-list *ngFor="let option of QAset.Os[i]; let j = index">
			  <button ion-item  (click)="optionSelected(option,i)">
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          {{j+1}}.&nbsp;&nbsp;{{option}}
			  </button>
			</ion-list>

      <button ion-button (click)="optionFirstSelected(i)">First</button>
      <button ion-button (click)="optionPrevSelected(i)">Prev</button>
      <button ion-button (click)="optionNextSelected(i)">Next</button>
      <button ion-button (click)="optionLastSelected(i)">Last</button>
      <button ion-button (click)="optionFinishSelected(i)">Finish</button>

		</ion-slide>
	</ion-slides>

  <!--button ion-button secondary menuToggle>Toggle Menu</button-->
</ion-content>

<ion-footer style="background: #000;">
  <ion-title style="margin: 0px;">
    <p style="font-size: 0.5em; float: left; color: white;"><i>&copy;Arjuna Group Trust</i></p>
    <p style="font-size: 0.5em; float: right; color: white;"><i>www.studentthinkbox.com</i></p>
  </ion-title>
</ion-footer>
